[submodule "js-uprtcl"]
	path = js-uprtcl
	url = git@github.com:sotous/js-uprtcl.git
	branch = develop
[submodule "linked-thoughts"]
	path = linked-thoughts
	url = git@github.com:sotous/linked-thoughts.git
	branch = develop
[submodule "js-uprtcl-server"]
	path = js-uprtcl-server
	url = git@github.com:sotous/js-uprtcl-server.git
	branch = develop
[submodule "blockchain-watchman-uprtcl"]
	path = blockchain-watchman-uprtcl
	url = git@github.com:sotous/blockchain-watchman-uprtcl.git
	branch = develop
[submodule "eth-uprtcl"]
	path = eth-uprtcl
	url = git@github.com/uprtcl/eth-uprtcl.git
	branch = master
